* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  outline: none;
}

.inputs {
  text-align: center;
  margin: 2em;
}
#input {
  width: 150px;
  height: 35px;
  padding: 0.5em;
  margin: 1em;
}

#submit-button {
  width: 70px;
  height: 35px;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 1rem;
}

#container {
  text-align: center;
  padding: 2em;
  margin: auto;
  width: 20em;
  height: 25em;
  background-color: rgb(230, 241, 247);
  border: 1px solid rgb(166, 201, 253);
  border-radius: 6px;
  display: none;
}

.temp {
  font-size: 5em;
  margin: 0.3em;
  padding-left: 0.3em;
  color: rgb(21, 143, 21);
}
.location {
  font-size: 1.5em;
  margin: 0.4em;
}

.description,
.feels-like {
  text-transform: capitalize;
  padding: 0.1em;
  color: rgb(97, 97, 97);
}
