* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  outline: none;
}
body {
  display: flex;
  justify-content: space-between;
  padding: 4em 10em;
}

#container {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 2rem;
  height: 30em;
  text-align: center;
  display: none;
}

.description {
  text-transform: capitalize;
  margin: 0 auto 0 auto;
}

#input {
  display: flex;
  width: 240px;
  height: 35px;
  padding-left: 6px;
  margin-top: 2rem;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
}
#submit-button {
  display: flex;
  margin-top: 10px;
  width: 50px;
  height: 20px;
  border-radius: 5px;
  justify-content: center;
}

.temp {
  padding-left: 40px;
  font-size: 160px;
  color: green;
}
.location {
  margin: 0;
  font-size: 20px;
}
#submit-button:hover {
  background-color: rgb(228, 228, 228);
}

.line {
  margin-top: 1.5rem;
  border: 1px solid rgb(228, 228, 228);
}

#today-title {
  font-size: 28px;
}
